services:
  backend:
    build: ./backend
    container_name: backend
    env_file:
      - .env
    expose:
      - 8000
    volumes:
      - ./backend:/app
      - static:/app/staticfiles
      - media:/app/media
#    depends_on:
#      - db <--- Добавлю PostgreSQL позже


  nginx:
    image: nginx:latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./ssl:/etc/nginx/ssl:ro
      - static:/app/staticfiles:ro
      - media:/app/media:ro
      - ./frontend/build:/usr/share/nginx/html:ro
    depends_on:
      - backend


  redis:
    image: redis:alpine
    container_name: redis
    expose:
      - 6379

  celery:
    build: ./backend
    container_name: celery
    command: celery -A config worker -l info
    env_file:
      - .env
    volumes:
      - ./backend:/app
    depends_on:
      - backend
      - redis

  celery-beat:
    build: ./backend
    container_name: celery-beat
    command: celery -A config beat -l info
    env_file:
      - .env
    volumes:
      - ./backend:/app
    depends_on:
      - backend
      - redis

volumes:
#  postgres_data:
  static:
  media:

